<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<h1>Form To Save New Article</h1>
	<form action="/articles" method ="POST">
	<p>
		<label for="submit">Upload New Article: </label>
		<input type="text" name="article[title]" id="submit">
	</p>
		<input type="submit" value="Submit">
	</form>
</body>
</html>